**tools
.phive
.phpdoc
.phpunit.cache
.phpunit.result.cache
.vscode
*.dump
*.log
*.puml
clover.xml
docs/build
public
testbook.*
tests/cache
tests/coverage_report
tests/playground
tests/xml-coverage
vendor
*.dump
.dev-tools
